{% extends "layout.html.twig" %}
{% block title %}Editar {{ libros.titulota }}{% endblock %}
{% block bodydiv %}
    <h1>Editar taller "{{ libros.titulota }}"</h1>
    {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(formulario) }}
    {{ form_end(formulario) }}
{% endblock %}
