{% extends 'layout.html.twig' %}

{% block title %}Ponencias{% endblock %}
{% block bodydiv %}
    <h1>Lista de ponencias</h1>
    {% if ponencias %}
        <table>
            <tr><th>ID</th><th>Titulo</th><th>Categoría</th><th>Likes</th><th></th><th></th><th></th><th></th>{% if is_granted('ROLE_ADMIN') %}{% endif %}</tr>
        {% for po in ponencias %}
            <tr>
				<td>{{ po.id }}</a> </td>
                <td>{{ po.titulopo }}</td>
                <td>{{ po.categoriaponenciaId.nombre }}</td>
                <td>{{ po.likepo }}</td>
                <td><a href="{{ path('likponencia', {'id':po.id}) }}"><img src="{{ asset('img/silikes.png') }}" /></a></td>
                <td><a href="{{ path('dislikponencia', {'id':po.id}) }}"><img src="{{ asset('img/nolikes.png') }}" /></a></td>
                <td><a href="{{ path('borraPonencia', {'id':po.id}) }}"><img src="{{ asset('img/eliminar.png') }}" /></a></td>
                <td><a href="{{ path('editar_ponencia', {'id':po.id}) }}">EDITAR</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                {% endif %}
			</td>
        {% endfor %}
        </table>
    {% else %}
        <p>No hay ponencias</p>
    {% endif %}
{% endblock %}